<!--
 * Chrono Des Vignes
 * a timing system for sports events
 * 
 * Copyright © 2024-2025 Romain Maurer
 * This file is part of Chrono Des Vignes
 * 
 * Chrono Des Vignes is free software: you can redistribute it and/or modify it under
 * the terms of the GNU General Public License as published by the Free Software Foundation,
 * either version 3 of the License, or (at your option) any later version.
 * 
 * Chrono Des Vignes is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU General Public License for more details.
 * You should have received a copy of the GNU General Public License along with Foobar.
 * If not, see <https://www.gnu.org/licenses/>.
 * 
 * You may contact me at chrono-des-vignes@ikmail.com
-->

{% extends 'dev_layout.html' %}
{% from 'macro.html' import form_field, submit %}
{% block content %}
<form action="" method="post" id="form">
  {{ form.hidden_tag() }}
  {{ form_field(form.lang_data, div_class='d-none') }}
  {{ submit(form) }}
</form>
<style>
  .nothing {
    border: 0;
    outline: none;
}
</style>
<script>
// submit form on ctrl-s
$(document).keydown(function(e) {
    //console.log(e.which, e.ctrlKey)
    if(e.which == 83 && e.ctrlKey) {
        e.preventDefault();
        $('#form').submit();
    }
})
</script>
<table class="table">
    <thead>
      <tr>
        {% for word in langs.values() %}
            <th scope="col">id</th>
            {% for lang in word %}
            <th scope="col">{{lang}}</th>
            {% endfor %}
            {% break %}
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <script>
        var data = {{langs|safe}} 
        var input = document.getElementById("form")['data']
        input.value = JSON.stringify(data)
        function field_change(id, lang_name) {
          var val = document.getElementById(`${id}.${lang_name}`).value
          data[id][lang_name] = val
          input.value = JSON.stringify(data)
        }
      </script>
        {% for id, word in langs.items() | sort(attribute='0') %}
        <tr>
            <th scope="col">{{id}}</th>
            {% for lang_name, lang in word.items() %}
            <th scope="col">
              <input class="nothing" type="text" id="{{id}}.{{lang_name}}" value="{{lang}}" oninput="field_change('{{id}}', '{{lang_name}}')">
            </th>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}