<!--
 * Chrono Des Vignes
 * a timing system for sports events
 * 
 * Copyright © 2024-2025 Romain Maurer
 * This file is part of Chrono Des Vignes
 * 
 * Chrono Des Vignes is free software: you can redistribute it and/or modify it under
 * the terms of the GNU General Public License as published by the Free Software Foundation,
 * either version 3 of the License, or (at your option) any later version.
 * 
 * Chrono Des Vignes is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU General Public License for more details.
 * You should have received a copy of the GNU General Public License along with Foobar.
 * If not, see <https://www.gnu.org/licenses/>.
 * 
 * You may contact me at chrono-des-vignes@ikmail.com
-->

{% extends 'layout.html' %}
{% from 'macro.html' import render_form %}
{% block content %}
    {% if user_data.admin %}
        <div class="pb-5">
            <h3 class="w-100 h1 bg-light rounded rounded-3">{{ _('home.events') }}</h3>
            <div class="d-flex justify-content-center flex-wrap">
                <table class="table table-striped table-hover clickable-table">
                    <thead>
                        <tr>
                            <th scope="col">{{_('home.eventname')}}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for event in user_data.creations %}
                        <tr data-href="{{ url_for('admin.home_event', event_name=event.name) }}">
                            <th scope="row">{{ event.name }}</th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="d-inline-flex card m-1">
                    <a type="button" onclick="new_event()" class="text-decoration-none link-dark card-body d-flex align-items-center justify-content-center">
                        <i class="fa-solid fa-circle-plus"></i>
                    </a>
                    <div class="d-none">
                        {{ render_form(form, id='new_event', submit=False, action=url_for("admin.new_event")) }}
                    </div>
                    <script>
                        async function new_event() {
                            let name = window.prompt("{{_('home.entereventname')}}");
                            let form = document.getElementById('new_event');
                            form.name.value = name;
                            form.submit();
                        }
                    </script>
                </div>
            </div>
        </div>
    {% endif %}
    {% if inscriptions and not user_data.admin %}
        <div class="pb-5">
            <h3 class="w-100 h1 bg-light rounded rounded-3">{{ _('home.inscriptions') }}</h3>
            <div class="d-flex justify-content-center flex-wrap">
                <table class="table table-striped table-hover clickable-table">
                    <thead>
                        <tr>
                            <th scope="col">{{_('home.eventname')}}</th>
                            <th scope="col">{{_('home.parcours')}}</th>
                            <th scope="col">{{_('home.edition')}}</th>
                            <th scope="col">{{_('home.date')}}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for inscription in inscriptions  | sort(attribute="edition.edition_date") %}
                        <tr data-href="{{ url_for('view.view_inscription_page', inscription=inscription.id) }}">
                            <th scope="row">{{inscription.event.name}}</th>
                            <th scope="row">{{inscription.parcours.name}}</th>
                            <th scope="row">{{ inscription.edition.name }}</th>
                            <th scope="row">{{inscription.edition.edition_date.strftime('%d.%m.%Y')}}</th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
    {% if events and not user_data.admin %}
        <div>
            <h3 class="w-100 h1 bg-light rounded rounded-3">{{ _('home.nextevent') }}</h3>
            <div class="d-flex justify-content-center flex-wrap">
                {% for event in events %}
                    <div class="d-inline-flex card m-1">
                        <div class="w-100 card-header d-flex justify-content-between align-items-center">
                            <a class="text-decoration-none link-dark" href="{{ url_for('view.view_event_page', event=event.name) }}"><h5 class="px-2">{{event.name}}</h5></a>
                        </div>
                        <div class="card-body">
                            {% for edition in event.editions %}
                                {% if edition.edition_date > date %}
                                    <a href="{{ url_for('view.view_edition_page', event=event.name, edition=edition.name) }}" class="text-decoration-none link-dark">
                                        <div class="card-group card d-flex align-items-center justify-content-center">
                                            {{edition.name}}
                                            <br>
                                            {{edition.edition_date.strftime('%d.%m.%Y')}}
                                        </div>
                                    </a>
                                    {% if not loop.last %}
                                        <hr>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if participations and not user_data.admin %}
        <div class="pb-5">
            <h3 class="w-100 h1 bg-light rounded rounded-3">{{ _('home.participations') }}</h3>
            <div class="d-flex justify-content-center flex-wrap">
                <table class="table table-striped table-hover clickable-table">
                    <thead>
                        <tr>
                            <th scope="col">{{_('home.eventname')}}</th>
                            <th scope="col">{{_('home.parcours')}}</th>
                            <th scope="col">{{_('home.edition')}}</th>
                            <th scope="col">{{_('home.date')}}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for inscription in participations  | sort(attribute="edition.edition_date") %}
                        <tr data-href="{{ url_for('livetrack.livetrack_page', inscription_id=inscription.id) }}">
                            <th scope="row">{{inscription.event.name}}</th>
                            <th scope="row">{{inscription.parcours.name}}</th>
                            <th scope="row">{{ inscription.edition.name }}</th>
                            <th scope="row">{{inscription.edition.edition_date.strftime('%d.%m.%Y')}}</th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
<script>
    $('table tbody tr').on('click', function() {
    window.location.href = $(this).data('href');
    });
</script>
{% endblock content %}