{% set label_span='3' %}
{% set input_span= (12-(label_span|int))|string %}

{% macro form_field(field, input_id='', div_class='') %}
    <div class="mb-3 row {{ div_class }}">
        {{ field.label(class="col-sm-"+label_span+" col-form-label text-start") }}
        <div class="col-sm-{{input_span}}">
            {% if field.errors %}
                {{ field(class="form-control form-control-lg is-invalid", id=input_id) }}
                <div class="invalid-feedback">
                    {% for error in field.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ field(class="form-control form-control-lg", id=input_id) }}
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro boolean_field(field, input_id='', div_class='') %}
    <div class="mb-3 row {{ div_class }}">
        {{ field.label(class="col-sm-"+label_span+" col-form-label text-start") }}
        <div class="col-sm-{{input_span}}">
            {% if field.errors %}
                {{ field(class="form-control form-control-lg is-invalid form-check-input form-check-inline", id=input_id) }}
                <div class="invalid-feedback">
                    {% for error in field.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ field(class="form-control form-control-lg form-check-input form-check-inline", id=input_id) }}
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro color_field(field, colorpicker, input_id='', div_class='') %}

    <div class="mb-3 row {{ div_class }}">
        {{ field.label(class="col-sm-"+label_span+" col-form-label text-start") }}
        <div class="col-sm-{{input_span}}">
            {% if field.errors %}
                {{ field(class="form-control form-control-lg is-invalid form-check-inline form-control-color", id=input_id) }}
                <div class="invalid-feedback">
                    {% for error in field.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ field(class="form-control form-control-lg form-check-inline form-control-color", id=input_id) }}
            {% endif %}
        </div>
    </div>

    {# todo: https://getbootstrap.com/docs/5.0/forms/form-control/#color #}
    <!--<div class="mb-3 row {{ div_class }}">

        {{ colorpicker.loader() }}
        {{ colorpicker.picker(ids=['#color'], color_format='hex') }}

        {{ field.label(class="col-sm-"+label_span+" col-form-label") }}
        <div class="col-sm-{{input_span}}">
            {% if field.errors %}
            <script>error = true</script>
            {{ field(class="form-control form-control-lg is-invalid", id="color") }}
            <div class="invalid-feedback">
                {% for error in field.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ field(class="form-control form-control-lg", id="color") }}
            {% endif %}
        </div>
    </div>-->
{% endmacro %}

{% macro submit(form) %}
    <div class="form-group">
        {{ form.submit_btn(class="btn btn-outline-info") }}
    </div>
{% endmacro %}

<!-- #region -->{% macro map_field(label, lat_field_id, lng_field_id, lat, lng, width='400px', height='400px', start_zoom=12, div_class='', disabled=False) %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>

    <div class="mb-3 row {{ div_class }}">
        <label class="col-sm-{{label_span}} col-form-label text-start">{{ label }}</label>
        <div class="col-sm-{{input_span}}">
            <div id="map" style="aspect-ratio: 1;width: 100%" class="form-control form-control-lg"></div>
        </div>
    </div>
    
    <script type="text/javascript">

        function main() {

            let lat_field = document.getElementById('{{ lat_field_id }}')
            let lng_field = document.getElementById('{{ lng_field_id }}')

            let options = {
                center: [{{lat}}, {{lng}}],
                zoom: {{start_zoom}},
            }
            
            let map = L.map('map', options);

            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);

            let marker = L.marker([{{lat}}, {{lng}}]).addTo(map);

            {% if not disabled %}
            map.on('click', 
                function(e){
                    lat_field.value = e.latlng.lat
                    lng_field.value = e.latlng.lng
                    marker.setLatLng(e.latlng)
                });
            {% endif %}
            
            var observer = new IntersectionObserver(function(entries) {
                if(entries[0].isIntersecting === true) {
                    map.invalidateSize(true);
                }
            }, { threshold: [0] });

            observer.observe(document.getElementById('map'));
                    }
        window.addEventListener("load", main);
    </script>
{% endmacro %}
<!-- #endregion -->


{% macro multiple_select_field(field, input_id='', div_class='') %}
    <div class="mb-3 row">
        {{ field.label(class="col-sm-"+label_span+" col-form-label text-start") }}
        <div class="col-sm-{{input_span}}">
            {% if field.errors %}
            {{ field(class="form-control form-control-lg is-invalid list-group") }}
            <div class="invalid-feedback">
                {% for error in field.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ field(class="form-control form-control-lg list-group") }}
            {% endif %}
        </div>
    </div>
{% endmacro %}