{% extends 'layout.html' %}
{% block content %}
    {% if inscriptions %}
        <div class="pb-5">
            <h3 class="w-100 h1 bg-light rounded rounded-3">vos inscriptions</h3>
            <div class="d-flex justify-content-center">
                {% for inscription in inscriptions %}
                    <div class="d-inline-flex card">
                        <div class="w-100 card-header">
                            <h5 class="">{{inscription.event.name}} <a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a></h5>
                        </div>
                        <a href="{{ url_for('admin.parcours.view_parcours_page', event=inscription.event.name, parcours=inscription.parcours.name) }}", class="">
                            <div class="card-body">
                                <p>parcours: {{inscription.parcours.name}}</p>
                                <p>le {{inscription.edition.edition_date.strftime('%d.%m.%Y')}}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                <div class="d-inline-flex card">
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-circle-plus"></i>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if events %}
        <div>
            <h3 class="w-100 h1 bg-light rounded rounded-3">les prochains evenements</h3>
            <div class="d-flex justify-content-center">
                {% for event in events %}
                    <div class="d-inline-flex card">
                        <div class="w-100 card-header">
                            <h5 class="">{{event.name}} <a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a></h5>
                        </div>
                        <div class="card-body">
                            <a href="{{ url_for('view_event_page', event=event.name) }}">
                                ...
                            </a>
                        </div>
                    </div>
                {% endfor %}
                <div class="d-inline-flex card">
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-circle-plus"></i>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}
