<div class="d-flex flex-column flex-md-row">
  <nav class="navbar navbar-expand-md d-flex flex-md-column p-0 w-100">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#sidebarCollapse"
      aria-controls="sidebarCollapse"
      aria-expanded="false"
      aria-label="Toggle Navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse w-100" id="sidebarCollapse">
      <ul
        class="navbar-nav w-100 d-flex flex-md-column text-center text-md-end"
      >
        <li class="nav-item bg-danger btn mb-2">
          <a
            class="nav-link"
            href="{{ url_for('home') }}"
            >{{ event_data.name }}</a
          >
        </li>
        <li class="nav-item"> {# edition #}
          <a
            class="nav-link"
            href="{{ url_for('admin.editions.editions_page', event_name=event_data.name) }}"
            >{{ _('side.editions') }}</a
          >
        </li>
        <li class="nav-item"> {# parcours #}
          <a class="nav-link" href="{{ url_for('admin.parcours.parcours_page', event_name=event_data.name) }}">{{ _('side.parcours') }}</a>
        </li>
        <li class="nav-item"> {# inscrit #}
          <a class="nav-link" href="{{ url_for('admin.coureurs.coureurs_page', event_name=event_data.name) }}">{{ _('side.runner') }}</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
