<!--
 * Chrono Des Vignes
 * a timing system for sports events
 * 
 * Copyright © 2024-2025 Romain Maurer
 * This file is part of Chrono Des Vignes
 * 
 * Chrono Des Vignes is free software: you can redistribute it and/or modify it under
 * the terms of the GNU General Public License as published by the Free Software Foundation,
 * either version 3 of the License, or (at your option) any later version.
 * 
 * Chrono Des Vignes is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU General Public License for more details.
 * You should have received a copy of the GNU General Public License along with Foobar.
 * If not, see <https://www.gnu.org/licenses/>.
 * 
 * You may contact me at chrono-des-vignes@ikmail.com
-->

{% extends 'layout.html' %}
{% block import %}
  <!--chart.js-->
  <script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
{% endblock %}
{% block content %}
<div class="card mb-4">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-3">
        <p class="mb-0">{{ _('view.parcours') }}</p>
      </div>
      <div class="col-sm-9">
        <p class="text-muted mb-0">{{parcours.name}}</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-3">
        <p class="mb-0">{{ _('view.evenement') }}</p>
      </div>
      <div class="col-sm-9">
        <a class="text-decoration-none link-dark" href="{{ url_for('view.view_event_page', event=parcours.event.name) }}"><p class="text-muted mb-0">{{parcours.event.name}}</p></a>
      </div>
    </div>
  </div>
</div>
<div style="height: 450px">
  <iframe
    id="map"
    class="w-100 h-100"
    srcdoc=' {% include "view_map_iframe.html" %} '
    frameborder="0"
  ></iframe>
</div>
{# alt graph #}
{#
<div>
  <div class="chartBox pt-3">
      <canvas id="myChart"></canvas>
  </div>
  <script>
      var graph_data = {{ graph | safe }}
      // setup
      const data = {
          datasets: [
          {
              showLine: true,
              label: "altitude",
              data: graph_data,
              backgroundColor: ["rgba(0, 255, 0, 0.2)"],
              borderColor: ["rgba(255, 0, 0, 1)"],
              borderWidth: 1,
              yAxisID:'elevation',
              xAxisID:'distance',
          },
          ],
      };

      // config
      const config = {
          type: "scatter",
          data,
          options: {
              maintainAspectRatio:false,
              plugins: {
                  legend:{
                      display:false
                  },
                  tooltip: {
                      callbacks: {
                          label: (content) => {
                              return `${content.raw.type} ${content.raw.label}`;
                          },
                      },
                  },
              },
              scales: {
                  distance: {
                      type: 'linear',
                      title:{
                          display:true,
                          text:'{{ _("view.distance") }} (km)'
                      },
                  },
                  elevation: {
                      type: 'linear',
                      title:{
                          display:true,
                          text:'{{ _("view.altitude") }} (m)'
                      },
                  },
              }
          },
      };
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, config);
  </script>
</div>
#}
{% endblock content %}
