<!--
 * Chrono Des Vignes
 * a timing system for sports events
 * 
 * Copyright © 2024-2025 Romain Maurer
 * This file is part of Chrono Des Vignes
 * 
 * Chrono Des Vignes is free software: you can redistribute it and/or modify it under
 * the terms of the GNU General Public License as published by the Free Software Foundation,
 * either version 3 of the License, or (at your option) any later version.
 * 
 * Chrono Des Vignes is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU General Public License for more details.
 * You should have received a copy of the GNU General Public License along with Foobar.
 * If not, see <https://www.gnu.org/licenses/>.
 * 
 * You may contact me at chrono-des-vignes@ikmail.com
-->

{% extends 'layout.html' %}
{% block content %}
<h3>{{edition_data.event.name}} {{edition_data.name}}</h3>
<br>
<div>{{ edition_data.description_html | safe }}</div>

<div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">{{ _('view.date') }}</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">
            {{edition_data.edition_date.strftime('%d.%m.%Y')}}
          </p>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">{{ _('view.time') }}</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">
            {{edition_data.edition_date.strftime('%H:%M')}}
          </p>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">{{ _('view.evenement') }}</p>
        </div>
        <div class="col-sm-9">
          <a class="text-decoration-none link-dark" href="{{ url_for('view.view_event_page', event=edition_data.event.name) }}"><p class="text-muted mb-0">{{edition_data.event.name}}</p></a>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">{{ _('view.rdv') }}</p>
        </div>
        <div class="col-sm-9">
          <a href="{{rdv_url}}" target="_blank" rel="noopener noreferrer" class="text-decoration-none text-muted mb-0">{{ _('view.opengmap') }} <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">{{ _('view.addtogcalendar') }}</p>
        </div>
        <div class="col-sm-9">
          <a href="{{gcalendar_url}}" target="_blank" rel="noopener noreferrer" class="text-decoration-none text-muted mb-0">{{ _('view.opengcalendar') }} <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">{{ _('view.inscriptions') }}</p>
        </div>
        {% if time >= edition_data.first_inscription and edition_data.last_inscription >= time %}
        {# les inscriptions sont ouvertes #}
          <div class="col-sm-9">
            <a href="{{ url_for('users.inscription_page', event_name=event_data.name, edition_name=edition_data.name) }}" class="text-decoration-none text-muted mb-0">{{_('form.register')}}</a>
          </div>
        {% else %}
          {% if time > edition_data.last_inscription %}
          {# il est trop tard #}
            <div class="col-sm-9">
              <p class="text-decoration-none text-muted mb-0">{{ _('view.inscriptionclosed') }}</p>
            </div>
          {% else %}
          {# il est trop tôt #}
            <div class="col-sm-9">
              <p class="text-decoration-none text-muted mb-0">{{ _('view.inscriptionsnotopen') }}</p>
            </div>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}