{% extends 'layout.html' %}
{% block content %}
    <div>
        <p>clé: {{ key.name }} ({{ key.key }})</p>
        <p>événement: {{ key.event.name }}</p>
        <p>parcours: {{ key.parcours.name }}</p>
    </div>
    <input type="number" class="form-control form-control-lg" id="dossard_input" placeholder="enter dossard number">
    <br>
    <div class="d-flex w-100">
        <div class="w-50">
            <ul class="list-group" id="time_list"></ul>
        </div>
        <div class="w-50">
           <ul class="list-group" id="event_list"></ul> 
        </div>
        <script>
            const input = document.getElementById('dossard_input')
            const list = document.getElementById('time_list')
            const event_list_elmt = document.getElementById('event_list')
            const key = '{{ key.key }}'
            const url = '{{ url_for("admin.editions.passages.set_passage") }}'
            var time_list = []
            var event_list = []

            
            async function add_event_list(response) {
                var node = document.createElement('li')
                var index = event_list.length

                node.classList.add('list-group-item')

                n1 = document.createElement('p')
                n1.classList.add('')
                n1.innerText = `${response.request.dossard}`
                node.appendChild(n1)
                
                time = new Date(response.request.time)
                n2 = document.createElement('p')
                n2.innerText = `${time.getDate()}.${time.getMonth()+1} ${time.getHours()}:${time.getMinutes()}:${time.getSeconds()}`
                node.appendChild(n2)

                event_list_elmt.appendChild(node)
            }

            async function send_request(dossard) {
                var time = get_last_time()
                if (time) {
                    var data = new FormData()
                    data.append('key', key)
                    data.append('time', time.getTime())
                    data.append('dossard', dossard)

                    var xhttp = new XMLHttpRequest();
                    xhttp.open('POST', url, true);
                    xhttp.onload = function () {
                        response = JSON.parse(this.responseText)
                        if (response['success']) {
                            console.log('ok')
                        } else {
                            console.log('ahhhhh')
                        }
                        console.log(response);
                        add_event_list(response)
                    }
                    xhttp.send(data);
                }
            };

            function add_time() {
                var time = new Date()
                var node = document.createElement('li')
                console.log(time)
                var time_text = `${time.getDate()}.${time.getMonth()+1} ${time.getHours()}:${time.getMinutes()}:${time.getSeconds()}`
                node.innerText = time_text
                node.classList.add('list-group-item')
                if (list.children.length==0) {
                    node.classList.add('bg-info')
                }
                list.appendChild(node)
                time_list.push(time)

            }
            function get_last_time() {
                if (list.children.length>0) {
                    list.removeChild(list.firstChild)
                    if (list.children.length>0) {
                        list.firstChild.classList.add('bg-info')
                    }
                    return time_list.shift()
                }
                
            }
            document.addEventListener('keydown', (e) => {
                if (e.code === "Space") {
                    add_time()
                } else if (e.code === "Escape") {
                    get_last_time()
                }else if (e.code === 'Backspace'){
                    input.value = ''
                } else if (e.code === 'Enter') {
                    var data = parseInt(input.value);
                    input.value = ''
                    if ( !isNaN(data) ) {
                        send_request(data)
                    }
                } else {
                    input.focus()
                }
            });
            input.focus()
        </script>
    </div>
{% endblock content %}