{% extends 'layout.html' %}
{% block import %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
    <div>
        <p>clé: {{ key.name }} ({{ key.key }})</p>
        <p>événement: {{ key.event.name }}</p>
        <ul class="list-group">
            {% for stand in key.stands.all() %}
                <li class="list-group-item">stand: {{ stand.name }}, parcours: {{ stand.parcours.name }}</li>
            {% endfor %}
        </ul>
    </div>
    <br>
    <input type="number" class="form-control form-control-lg" id="dossard_input" placeholder="enter dossard number">
    <br>
    <div class="d-flex w-100">
        <div class="w-50">
            <ul class="list-group" id="time_list"></ul>
        </div>
        <div class="w-50">
           <ul class="list-group" id="event_list"></ul> 
        </div>
        <script>
            const input = document.getElementById('dossard_input')
            const list = document.getElementById('time_list')
            const event_list_elmt = document.getElementById('event_list')
            const key = '{{ key.key }}'
            var socket = io('/key', {auth: {'key': key}});
            var time_list = []

            function toggleDetails(detailId, button) {
                const detailDiv = document.getElementById(`detail-${detailId}`);
                const icon = document.getElementById(`icon-${detailId}`);

                detailDiv.classList.toggle('show'); // Toggle the 'show' class for smooth transition
                icon.innerHTML = detailDiv.classList.contains('show') ? 
                    '<i class="fas fa-chevron-down"></i>' : 
                    '<i class="fas fa-chevron-right"></i>'; // Change icon based on state
            }

            function create_event_element(dossard, time) {
                let node = document.createElement('li')

                node.classList.add('mb-2')
                node.classList.add('card')
                node.classList.add('bg-primary')
                node.id ='event_list_' + dossard+'-'+time.getTime()

                let html = `
                <div class="card-header">
                    <p class="mb-0">
                        ${dossard}
                        <br>
                        ${time.getDate()}.${time.getMonth()+1} ${time.getHours()}:${time.getMinutes()}:${time.getSeconds()}
                    </p>
                </div>
                    `
                node.innerHTML = html

                if (event_list_elmt.children.length == 0) {
                    event_list_elmt.appendChild(node)
                } else {
                    event_list_elmt.insertBefore(node, event_list_elmt.children[0])
                }
            }

            async function get_request_response(response, id) {
                elmt = document.getElementById('event_list_' + id)
                
                if (response.status == 200) {
                    response = JSON.parse(response.responseText)
                
                    elmt.classList.remove('bg-primary')
                    if (response.success) {
                        elmt.classList.add('bg-success')
                    } else {
                        var err_node = document.createElement('p')
                        err_node.innerText = response.error
                        elmt.appendChild(err_node)
                        if (response.saved) {
                            elmt.classList.add('bg-warning')
                        } else {
                            elmt.classList.add('bg-danger')
                        }
                    }
                } else {
                    elmt.classList.remove('bg-primary')
                    elmt.classList.add('bg-danger')
                    
                    var err_node = document.createElement('p')
                    err_node.innerText = 'erreur interne au server'
                    elmt.appendChild(err_node)
                }
            }

            async function send_request(dossard) {
                var time = get_last_time()
                if (time) {
                    socket.emit('set_passage', {'time':time.getTime(), 'dossard':dossard})
                    create_event_element(dossard, time) // indique que la request a été efectuée
                }
            };

            function modify_passage(dossard, time) {
                console.log(dossard, time);
                let node = document.getElementById(`event_list_${dossard}-${time}`)
                let new_dossard = window.prompt('enter new dossard')
                console.log(node, new_dossard);
                node.id = `event_list_${new_dossard}-${time}`
                socket.emit('set_passage', {'time':time, 'dossard':new_dossard})
            }

            socket.on('passage_response', function(data){
                let node = document.getElementById(`event_list_${data.request.dossard}-${data.request.time}`) 
                if (data.success){
                    create_passage(data['passage'], node)
                } else {
                    create_error(data, node)
                }
            })

            function create_error(data, node) {
                let time = new Date(data.request.time * 1000)
                let html = `
                <div class="card-header">
                    <div class="dropdown" style="position: absolute;top: 10px;right: 10px;width:5px">
                        <i class="fa-solid fa-ellipsis-vertical" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" style="cursor: pointer; font-size: 24px;"></i>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="javascript:modify_passage(${data.request.dossard}, ${data.request.time})">Change dossard</a></li>
                        </ul>
                    </div>  
                    <p class="mb-0">
                        ${data.request.dossard}
                        <br>
                        ${time.getDate()}.${time.getMonth()+1} ${time.getHours()}:${time.getMinutes()}:${time.getSeconds()}
                    </p>
                </div>
                <p>${data.error}</p>
                    `
                node.innerHTML = html
                node.classList.remove('bg-primary')
                if (data.saved) {
                    node.classList.add('bg-warning')
                } else {
                    node.classList.add('bg-danger')
                }
            }

            function create_passage(data, node=null) {
                console.log(data);
                let id = data.dossard+'-'+data.time_stamp
                let time = new Date(data.time_stamp * 1000)
                
                data.time_stamp = `${time.getDate()}.${time.getMonth()+1} ${time.getHours()}:${time.getMinutes()}:${time.getSeconds()}`
                let html = 
                `<div class="card-header">
                    <p class="mb-0">
                        ${data.dossard} ${ data.name }
                        <br>
                        ${data.time_stamp}
                    </p>
                    <button class="btn" onclick="toggleDetails('${ id }', this)">
                        <span class="icon" id="icon-${ id }"><i class="fas fa-chevron-right"></i></span>
                    </button>
                </div>
                <div id="detail-${ id }" class="collapse">
                    <div class="card-body">
                        <table>
                            <tbody>`
                                data.parcours.forEach(passage => {
                                    html+=
                                    `<tr>
                                        <th class="text-center pe-1"> <i class="`+(passage.current?'fa-solid fa-circle fa-l':'fa-regular fa-circle fa-xs')+`"></i></th>
                                        <td class="pe-3">${passage.stand.name}</td>
                                        <td class="pe-3">`+
                                            (passage.succes==true?passage.delta:(passage.succes==false?'<i class="fa-solid fa-xmark"></i>':''))+
                                        `</td>
                                        <td>
                                            ${ passage.dist !=null?passage.dist+' km':'' }
                                        </td>
                                    </tr>`
                                });
                html+=          `</tbody>
                        </table>
                    </div>
                </div>`

                if (!node){
                    let node = document.createElement('li')
                    node.innerHTML = html

                    
                    node.classList.add('mb-2')
                    node.classList.add('card')
                    node.classList.add('bg-success')

                    if (event_list_elmt.children.length == 0) {
                        event_list_elmt.appendChild(node)
                    } else {
                        event_list_elmt.insertBefore(node, event_list_elmt.children[0])
                    }
                }else{
                    node.classList.remove('bg-primary')
                    node.classList.remove('bg-danger')
                    node.classList.remove('bg-warning')
                    node.classList.add('bg-success')
                    node.innerHTML = html
                }
            }

            function add_all_passages(data) {
                data.forEach(passage => {
                    create_passage(passage)
                });
            }

            socket.emit('get_passages', add_all_passages)

            function add_time() {
                var time = new Date()
                var node = document.createElement('li')
                var time_text = `${time.getDate()}.${time.getMonth()+1} ${time.getHours()}:${time.getMinutes()}:${time.getSeconds()}`
                node.innerText = time_text
                node.classList.add('list-group-item')
                if (list.children.length==0) {
                    node.classList.add('bg-info')
                }
                list.appendChild(node)
                time_list.push(time)
            }

            function get_last_time() {
                if (list.children.length>0) {
                    list.removeChild(list.firstChild)
                    if (list.children.length>0) {
                        list.firstChild.classList.add('bg-info')
                    }
                    return time_list.shift()
                }
                
            }
            document.addEventListener('keydown', (e) => {
                if (e.code === "Space") {
                    add_time() //crer le time stamp et l'ajoute a la list
                } else if (e.code === "Escape") {
                    get_last_time() // suprimer le premier element
                }else if (e.code === 'Backspace'){
                    input.value = '' // reset le champ
                } else if (e.code === 'Enter') {
                    var data = parseInt(input.value);
                    input.value = ''
                    if ( !isNaN(data) ) {
                        send_request(data) // send the request to the server if it is a number
                    }
                } else {
                    input.focus() // focus le champ de text
                }
            });
            input.focus()
        </script>
    </div>
{% endblock content %}