{% extends 'layout.html' %}
{% block content %}
<div class="card mb-4">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-3">
        <p class="mb-0">parcours</p>
      </div>
      <div class="col-sm-9">
        <p class="text-muted mb-0">{{parcours.name}}</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-3">
        <p class="mb-0">evenement</p>
      </div>
      <div class="col-sm-9">
        <a class="text-decoration-none link-dark" href="{{ url_for('view.view_event_page', event=parcours.event.name) }}"><p class="text-muted mb-0">{{parcours.event.name}}</p></a>
      </div>
    </div>
  </div>
</div>
<div style="height: 450px">
  <iframe
    id="map"
    class="w-100 h-100"
    srcdoc=' {% include "view_map_iframe.html" %} '
    frameborder="0"
  ></iframe>
</div>
<div>{# alt graph #}
  <!--chart.js-->
  <script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
  <div class="chartBox pt-3">
      <canvas id="myChart"></canvas>
  </div>
  <script>
      var graph_data = {{ graph | safe }}
      // setup
      const data = {
          datasets: [
          {
              showLine: true,
              label: "altitude",
              data: graph_data,
              backgroundColor: ["rgba(0, 255, 0, 0.2)"],
              borderColor: ["rgba(255, 0, 0, 1)"],
              borderWidth: 1,
              yAxisID:'elevation',
              xAxisID:'distance',
          },
          ],
      };

      // config
      const config = {
          type: "scatter",
          data,
          options: {
              maintainAspectRatio:false,
              plugins: {
                  legend:{
                      display:false
                  },
                  tooltip: {
                      callbacks: {
                          label: (content) => {
                              console.log('test');
                              return `${content.raw.type} ${content.raw.label}`;
                          },
                      },
                  },
              },
              scales: {
                  distance: {
                      type: 'linear',
                      title:{
                          display:true,
                          text:'distance (km)'
                      },
                  },
                  elevation: {
                      type: 'linear',
                      title:{
                          display:true,
                          text:'altitude (m)'
                      },
                  },
              }
          },
      };
      console.log(config)
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, config);
  </script>
</div>
{% endblock content %}
