<!-- Modal -->
{% from 'macro.html' import form_field, submit %}
<div class="modal fade show" id="new_coureur_modal" tabindex="-2" aria-labelledby="new_edition_label"
    aria-hidden='true'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="new_edition_label">{{ _('admin.editions.dossard.addnewcoureur') }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="post" id="add_new_coureur">
                    {{ form.hidden_tag() }}
                    {{ form_field(form.name) }}
                    {{ form_field(form.lastname) }}
                    {{ form_field(form.username) }}
                    {{ form_field(form.email) }}
                    {{ form_field(form.phone) }}
                    {{ form_field(form.datenaiss) }}
                    {{ form_field(form.parcours) }}
                    <input type="text" name="user_id" class="d-none">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    {{ _('admin.parcours.close') }}
                </button>
                {{ form.submit_btn(class="btn btn-primary", type='submit', form='add_new_coureur') }}
            </div>
        </div>
    </div>
    <script>
        modal = new bootstrap.Modal(document.getElementById('new_coureur_modal'))
        {% if form.errors | length or validate_form %} modal.show(){% endif %}
    </script>
</div>

<!-- Modal 2 -->

<div class="modal fade show" id="validation_new_coureur_modal" tabindex="-1" aria-labelledby="new_edition_label"
    aria-hidden='true' data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="new_edition_label">{{
                    _('admin.editions.dossard.userexistcousewhoadd') }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    {% for user in validate_users %}
                    <li class="list-group-item">
                        <button class="form-check-input me-1" type="checkbox" value="" aria-label="..."
                            onclick="validate_user({{ user.id}})"></button>
                        {{ user.username }} - {{ user.name }} - {{ user.lastname }} - {{ user.datenaiss.strftime('%d %B
                        %Y')
                        }}
                    </li>
                    {% endfor %}
                </ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    {{ _('admin.parcours.close') }}
                </button>
            </div>
        </div>
    </div>
    <script>
        $('#validation_new_coureur_modal').on('shown.bs.modal', function () {
            $('#new_coureur_modal').addClass('modal-backdrop');
        });

        $('#validation_new_coureur_modal').on('hidden.bs.modal', function () {
            $('#new_coureur_modal').removeClass('modal-backdrop');
        });
        validate_modal = new bootstrap.Modal(document.getElementById('validation_new_coureur_modal'))
        {% if validate_form %}
            validate_modal.show()
        {% endif %}
        form = document.getElementById('add_new_coureur')
        async function validate_user(id) {
            form['user_id'].value = id
            form.action = '{{ url_for('admin.editions.dossard.validate_new_user', event_name=event_data.name, edition_name=edition_data.name) }}'
            form.submit()
        }
    </script>
</div>