<!--
 * Chrono Des Vignes
 * a timing system for sports events
 * 
 * Copyright © 2024-2025 Romain Maurer
 * This file is part of Chrono Des Vignes
 * 
 * Chrono Des Vignes is free software: you can redistribute it and/or modify it under
 * the terms of the GNU General Public License as published by the Free Software Foundation,
 * either version 3 of the License, or (at your option) any later version.
 * 
 * Chrono Des Vignes is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU General Public License for more details.
 * You should have received a copy of the GNU General Public License along with Foobar.
 * If not, see <https://www.gnu.org/licenses/>.
 * 
 * You may contact me at chrono-des-vignes@ikmail.com
-->

{% extends 'layout.html' %} {% from 'macro.html' import render_form %}
{% block content %}
<h3>{{ _('admin.editions.editions') }}</h3>
<div class="d-flex justify-content-center flex-wrap">
  <table class="table table-striped table-hover clickable-table">
    <thead>
      <tr>
        <th scope="col">{{_('admin.editions.name')}}</th>
        <th scope="col">{{_('admin.editions.date')}}</th>
      </tr>
    </thead>
    <tbody>
      {% for edition in event_data.editions %}
        <tr data-href="{{ url_for('admin.editions.modify_edition_page', event_name=event_data.name, edition_name=edition.name) }}">
          <th scope="row">{{ edition.name }}</th>
          <td>{{ edition.edition_date.strftime('%d.%m.%Y') }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if form.parcours.choices|length > 0 %}
 <div class="d-inline-flex card m-1">
    <a type="button" onclick="modal.show()" class="text-decoration-none link-dark card-body d-flex align-items-center justify-content-center">
      <i class="fa-solid fa-circle-plus"></i>
    </a>
  </div>
  {% else %}
    <a class="text-decoration-none link-dark"
      href="{{ url_for('admin.parcours.parcours_page', event_name=event_data.name) }}">
      <p>{{ _('admin.editions.startcreateparcours') }}</p>
    </a>
  {% endif %}

  <script>
    $('table tbody tr').on('click', function() {
      window.location.href = $(this).data('href');
    });
  </script>
</div>


<!-- Modal -->
<div class="modal fade show" id="new_edition_modal" tabindex="-1" aria-labelledby="new_edition_label"
  aria-hidden='true'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="new_edition_label">{{ _('admin.editions.newedition') }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{render_form(form, id='new_edition_form', submit=False, map_label='rendez vous pour cette edition')}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        {{ form.submit_btn(class="btn btn-primary", type='submit', form='new_edition_form') }}
      </div>
    </div>
  </div>
  <script>
    modal = new bootstrap.Modal(document.getElementById('new_edition_modal'))
    {% if form.errors | length %} modal.show(){% endif %}
  </script>
</div>

{% endblock content %}