<!--
 * Chrono Des Vignes
 * a timing system for sports events
 * 
 * Copyright © 2024-2025 Romain Maurer
 * This file is part of Chrono Des Vignes
 * 
 * Chrono Des Vignes is free software: you can redistribute it and/or modify it under
 * the terms of the GNU General Public License as published by the Free Software Foundation,
 * either version 3 of the License, or (at your option) any later version.
 * 
 * Chrono Des Vignes is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU General Public License for more details.
 * You should have received a copy of the GNU General Public License along with Foobar.
 * If not, see <https://www.gnu.org/licenses/>.
 * 
 * You may contact me at chrono-des-vignes@ikmail.com
-->

{% extends 'layout.html' %}
{% from 'macro.html' import render_form %}
{% block content %}
{{ render_form(form, map_label=_('form.editionrdv'))}}

<!-- Modal -->

{% if form.first_inscription.data > now %}
<div class="modal fade" id="delete_modal" tabindex="-1" aria-labelledby="deleteediton" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">supprimer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>voulez vous vraiment supprimer cette edition</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="{{ url_for('admin.editions.delete_edition_page', event_name=event_data.name, edition_name = edition_data.name ) }}"
                    class="btn btn-primary">supprimer l'edition</a>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <button class="btn btn-outline-danger" type="button" data-bs-toggle="modal" data-bs-target="#delete_modal">supprimer
        l'edition</button>
</div>
{% endif %}

{% endblock content %}