{% extends 'layout.html' %}
{% block content %}
<h3>{{ _('admin.view.coureurs') }}</h3>
<div class="d-flex justify-content-center flex-wrap">
    {% for inscrit in event_data.get_unique_inscrits() %}
        <div class="d-inline-flex card m-1">
            <div class="w-100 card-header d-flex justify-content-between align-items-center">
                <h5 class="px-2">{{inscrit.inscrit.name}} {{inscrit.inscrit.lastname}}</h5>
                <div class="vr"></div>
                <a href="#" class="px-2"><i class="fa-solid fa-ellipsis-vertical"></i></a>
            </div>
            <div class="card-body">
                <a href="{{ url_for('admin.coureurs.view_coureur_page', event_name=event_data.name, coureur=inscrit.inscrit.id) }}" class="text-decoration-none link-dark">
                    {{inscrit.inscrit.username}}
                </a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}