{% extends 'layout.html' %} {% block content %}
<div>
  <h3>info</h3>
  <div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">{{ _('admin.view.name') }}</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">
            {{coureur_data.name}} {{coureur_data.last_name}}
          </p>
        </div>
      </div>
      <hr />
      {% if coureur_data.email %}
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">{{ _('admin.view.email') }}</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">{{coureur_data.email}}</p>
        </div>
      </div>
      <hr />
      {% endif %}
      {% if coureur_data.phone %}
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">{{ _('admin.view.phone') }}</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">{{coureur_data.phone}}</p>
        </div>
      </div>
      <hr />
      {% endif %}
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">{{ _('admin.view.birth') }}</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">{{coureur_data.datenaiss.strftime('%d.%m.%Y')}}</p>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">{{ _('admin.view.username') }}</p>
        </div>
        <div class="col-sm-9">
          <p class="text-muted mb-0">{{coureur_data.username}}</p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h3>{{ _('admin.view.participation') }}</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">parcours</th>
          <th scope="col">edition</th>
          <th scope="col">date</th>
          <th scope="col">dossard</th>
          <th scope="col">rank</th>
        </tr>
      </thead>
      <tbody>
        {% for inscription in inscriptions %}
        <tr>
          <th>{{inscription.parcours.name}}</th>
          <th>{{inscription.edition.name}}</th>
          <th>{{inscription.edition.edition_date.strftime('%d.%m.%Y')}}</th>
          <th>{% if inscription.dossard %}{{inscription.dossard}}{% endif %}</th>
          <th>{# {% if inscription.dossard %}{{inscription.dossard}}{% endif %} #}</th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endblock content %}
</div>
