<!--
 * Chrono Des Vignes
 * a timing system for sports events
 * 
 * Copyright © 2025 Romain Maurer
 * This file is part of Chrono Des Vignes
 * 
 * Chrono Des Vignes is free software: you can redistribute it and/or modify it under
 * the terms of the GNU General Public License as published by the Free Software Foundation,
 * either version 3 of the License, or (at your option) any later version.
 * 
 * Chrono Des Vignes is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU General Public License for more details.
 * You should have received a copy of the GNU General Public License along with Foobar.
 * If not, see <https://www.gnu.org/licenses/>.
 * 
 * You may contact me at chrono-des-vignes@ikmail.com
-->

{% extends 'layout.html' %}
{% from 'macro.html' import form_field, submit %}
{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form_field(form.old_pwd) }}
    {{ form_field(form.password) }}
    {{ form_field(form.repeatpassword) }}
    <div class="form-group">
        {{ form.submit_btn(class="btn btn-outline-info") }}
        <a href="{{ url_for('users.profil' ) }}" class="btn btn-outline-info">cancel</a>
    </div>
    <script>
    $(".togglePassword").click(function(e) {
        e.preventDefault();
        var type = $(this).parent().find(".password").attr("type");
        //console.log(type);

        if (type == "password") {
            $(this).find(".eye").removeClass('fa-eye')
            $(this).find(".eye").addClass('fa-eye-slash')
            $(this).parent().find(".password").get(0).type = "text"
        } else if (type == "text") {
            $(this).find(".eye").removeClass('fa-eye-slash')
            $(this).find(".eye").addClass('fa-eye')
            $(this).parent().find(".password").get(0).type = "password"
        }
    });
    </script>
</form>
{% endblock %}