<!--
 * Chrono Des Vignes
 * a timing system for sports events
 * 
 * Copyright © 2024-2025 Romain Maurer
 * This file is part of Chrono Des Vignes
 * 
 * Chrono Des Vignes is free software: you can redistribute it and/or modify it under
 * the terms of the GNU General Public License as published by the Free Software Foundation,
 * either version 3 of the License, or (at your option) any later version.
 * 
 * Chrono Des Vignes is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU General Public License for more details.
 * You should have received a copy of the GNU General Public License along with Foobar.
 * If not, see <https://www.gnu.org/licenses/>.
 * 
 * You may contact me at chrono-des-vignes@ikmail.com
-->

{% extends 'layout.html' %}
{% block import %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    {% for parcours in parcours_data %}
        <li class="nav-item" role="presentation">
            <button class="nav-link {% if loop.index0==0 %}active{% endif %}" id="{{ parcours.id }}-tab" data-bs-toggle="pill" data-bs-target="#pills-{{ parcours.id }}" type="button" role="tab" aria-controls="pills-{{ parcours.id }}" aria-selected="{% if loop.index0==0 %}true{% else %}false{% endif %}">{{ parcours.name }}</button>
        </li>
    {% endfor %}
</ul>
<script>
    var socket = io('/edition/parcours', {auth: {'edition_id':{{ edition_data.id }}, 'event_id':{{ event_data.id }} } } );
    var intervals = {}
    
    function get_color(data){
        let color
        //console.log(data)
        if (data.end!='finish'&&data.end!=null){
            // disqualifié ou abandon
            color = 'bg-danger'
        } else if (data.end=='finish' || (data.finish && data.all_right)) {
            // fini et just ou declaré manuellement
            color = 'bg-success'
        } else if (data.finish && !data.all_right) {
            // fini mais pas suivis le parcours
            color = 'bg-warning'
        } else if (data.started) {
            // dans la course mais pas fini
            color = 'bg-primary'
        } else {
            color = 'bg-info'
        }

        return color
    }

    function delta_to_display(delta){
        let days = Math.floor(delta / (24*60*60*1000));
        let daysms = delta % (24*60*60*1000);
        let hours = Math.floor(daysms / (60*60*1000));
        let hoursms = delta % (60*60*1000);
        let minutes = Math.floor(hoursms / (60*1000));
        let minutesms = delta % (60*1000);
        let sec = Math.floor(minutesms / 1000);

        time_string = days>0?days+' Jours ':''
        time_string +=  `${hours}:${minutes}:${sec}`
        return time_string
    }

    function toggleDetails(detailId, button) {
        const detailDiv = document.getElementById(`detail-${detailId}`);
        const icon = document.getElementById(`icon-${detailId}`);

        detailDiv.classList.toggle('show'); // Toggle the 'show' class for smooth transition
        icon.innerHTML = detailDiv.classList.contains('show') ? 
            '<i class="fas fa-chevron-down"></i>' : 
            '<i class="fas fa-chevron-right"></i>'; // Change icon based on state
    }

    function create_passage(data, div, node=null) {
        let id = 'passage-' + data.id
        
        let html = 
        `<div class="card-header">
            <p class="mb-0">
                ${data.dossard} ${ data.name }
                <div id="chrono-${id}"></div>
            </p>
            <button class="btn" onclick="toggleDetails('${ id }', this)">
                <span class="icon" id="icon-${ id }"><i class="fas fa-chevron-right"></i></span>
            </button>
        </div>
        <div id="detail-${ id }" class="collapse">
            <div class="card-body" id="detail-table-${id}">
                <table>
                    <tbody>`
                        data.parcours.forEach(passage => {
                            html+=
                            `<tr>
                                <th class="text-center pe-1"> <i class="`+(passage.current?'fa-solid fa-circle fa-l':'fa-regular fa-circle fa-xs')+`"></i></th>
                                <td class="pe-3">${passage.stand.name}</td>
                                <td class="pe-3">`+
                                    (passage.success==true?passage.delta:(passage.success==false?'<i class="fa-solid fa-xmark"></i>':''))+
                                `</td>
                                <td>
                                    ${ passage.dist !=null?passage.dist+' km':'' }
                                </td>
                            </tr>`
                        });
        html+=          `</tbody>
                </table>
            </div>
            <div>
                <button class="btn btn-danger" id="disqualify-${id}">{{ _('admin.editions.parcours.disqualifier') }}</button>
                <button class="btn btn-danger" id="abandon-${id}">{{ _('admin.editions.parcours.abandon') }}</button>
                <button class="btn btn-success" id="finish-${id}">{{ _('admin.editions.parcours.finish') }}</button>
            </div>
        </div>`

        let color = get_color(data)
        
        if (!node){
            let node = document.createElement('div')
            node.innerHTML = html

            
            node.classList.add('mb-2')
            node.classList.add('card')
            node.classList.add(color)
            node.id = id

            if (div.children.length == 0) {
                div.appendChild(node)
            } else {
                div.insertBefore(node, div.children[0])
            }
        }else{
            node.classList.remove('bg-success')
            node.classList.remove('bg-primary')
            node.classList.remove('bg-danger')
            node.classList.remove('bg-warning')
            node.classList.remove('bg-info')
            node.classList.add(color)
            node.innerHTML = html
        }

        if (!data.started){
            return
        }

        // gere l'affichage du temps
        let chrono_div = document.getElementById(`chrono-${id}`)
        let start_time = data.start_time*1000
        let delta = Date.now()-start_time
        //console.log(delta, start_time)
        chrono_div.innerText = delta_to_display(delta)
        intervals[data.id] = setInterval(() => {
            delta = Date.now()-start_time
            chrono_div.innerText = delta_to_display(delta)
        }, 1000);

        // 
        let disqualify_btn = document.getElementById(`disqualify-${id}`)
        let abandon_btn = document.getElementById(`abandon-${id}`)
        let finish_btn = document.getElementById(`finish-${id}`)

        if (data.end != null){
            disqualify_btn.classList.add('disabled')
            abandon_btn.classList.add('disabled')
            finish_btn.classList.add('disabled')
            clearInterval(intervals[data.id])
            chrono_div.innerText = data.end
        } else {
            disqualify_btn.addEventListener('click', function(ev){
                if (window.confirm('etes vous sur de la disqualifier cette action est irreversible')){
                    socket.emit('disqualify', {'inscription_id':data.id}, ()=>{})
                }
            })
            abandon_btn.addEventListener('click', function(ev){
                if (window.confirm('etes vous sur que la personne abandonne cette action est irreversible')){
                    socket.emit('abandon', {'inscription_id':data.id})
                }
            })
            finish_btn.addEventListener('click', function(ev){
                if (window.confirm('etes vous sur que la personne a fini cette action est irreversible')){
                    socket.emit('finish', {'inscription_id':data.id})
                }
            })
        }
    }

    socket.on('stop', function(data){
        let id = data.inscription_id
        let chrono_div = document.getElementById(`chrono-passage-${id}`)
        let diqualify_btn = document.getElementById(`disqualify-passage-${id}`)
        let abandon_btn = document.getElementById(`abandon-passage-${id}`)
        let finish_btn = document.getElementById(`finish-passage-${id}`)

        clearInterval(intervals[id])
        chrono_div.innerText = data.type
        diqualify_btn.classList.add('disabled')
        abandon_btn.classList.add('disabled')
        finish_btn.classList.add('disabled')
    
        let color = get_color({'end':data.type })
        let div = document.getElementById('passage-' + id)
        div.classList.remove('bg-success')
        div.classList.remove('bg-primary')
        div.classList.remove('bg-danger')
        div.classList.remove('bg-warning')
        div.classList.remove('bg-info')
        div.classList.add(color)
        //console.log(data, color)
    
    })

    socket.on('new_passage', function new_passage(data){
        let node = document.getElementById("detail-table-passage-"+data.id)
        //console.log(data.parcours.length, data)
        if ( data.parcours.length==1){
            let div = document.getElementById('pills-content-' + data.parcours_id)
            node = document.getElementById('passage-'+data.id)
            //console.log(node);
            
            create_passage(data, div, node)
        }else{

            let html = `
                    <table>
                        <tbody>`
                            data.parcours.forEach(passage => {
                                html+=
                                `<tr>
                                    <th class="text-center pe-1"> <i class="`+(passage.current?'fa-solid fa-circle fa-l':'fa-regular fa-circle fa-xs')+`"></i></th>
                                    <td class="pe-3">${passage.stand.name}</td>
                                    <td class="pe-3">`+
                                        (passage.success==true?passage.delta:(passage.success==false?'<i class="fa-solid fa-xmark"></i>':''))+
                                    `</td>
                                    <td>
                                        ${ passage.dist !=null?passage.dist+' km':'' }
                                    </td>
                                </tr>`
                            });
            html+=          `</tbody>
                    </table>`
            let color = get_color(data)
            let div = document.getElementById('passage-' + data.id)
            div.classList.remove('bg-success')
            div.classList.remove('bg-primary')
            div.classList.remove('bg-danger')
            div.classList.remove('bg-warning')
            div.classList.remove('bg-info')
            div.classList.add(color)
            node.innerHTML = html
        }
    })

</script>
<div class="tab-content" id="pills-tabContent">
    {% for parcours in parcours_data %}
    <div id="pills-{{ parcours.id }}" class="tab-pane fade {% if loop.index0==0 %}show active{% endif %}" id="pills-{{ parcours.id }}" role="tabpanel" aria-labelledby="pills-{{ parcours.id }}-tab">
        <div id="pills-header-{{ parcours.id }}" class="mb-2">
            
        </div>
        <div id="pills-content-{{ parcours.id }}"></div>
    </div>
    <script>
        socket.emit('get_parcours_passage', {{parcours.id}}, function(data){
            let launched = Boolean(data.length)
            //console.log(data, launched)
            div = document.getElementById("pills-content-{{ parcours.id }}")
            data.forEach(function(passage){
                create_passage(passage, div)
                launched = passage.started?launched:false
            })
            
            let header = document.getElementById('pills-header-{{ parcours.id }}')
            if (!launched){

                header.innerHTML = '<button style="min-width: 150px;" id="launch-parcours-{{ parcours.id }}" class="btn btn-info">{{ _('admin.editions.parcours.launch') }}</button>'
                
                document.getElementById("launch-parcours-{{ parcours.id }}").addEventListener('click', function(event){
                    let button = event.target
                    button.innerText = 3
                    setTimeout(() => {
                        button.innerText = 2
                        setTimeout(() => {
                            button.innerText = 1
                            setTimeout(() => {
                                let start_time = Date.now()
                                button.innerText='go'
                                socket.emit('launch_parcours', {'parcours_id':{{ parcours.id }}, 'start_time': start_time}, function(){
                                    button.classList.add('d-none')
                                })
                            }, 1000);
                        }, 1000);
                    }, 1000);
                }, { once: true })
            } else {
                header.innerHTML = '<button style="min-width: 150px;" id="end-parcours-{{ parcours.id }}" class="btn btn-info">{{ _("admin.editions.parcours.end") }}</button>'
                
                document.getElementById("end-parcours-{{ parcours.id }}").addEventListener('click', function(event){
                    let button = event.target
                    let start_time = Date.now()
                    socket.emit('stop_parcours', {'parcours_id':{{ parcours.id }}, 'start_time': start_time})
                }, { once: true })
            }

        })
    </script>
    {% endfor %}
</div>
<div class="legend">
  <h4>{{_('admin.edition.parcours.legend')}}</h4>
  <ul>
    <li>
      <span class="color-box bg-danger"></span>
      <span class="legend-text">{{ _('legend.disqual') }}</span>
    </li>
    <li>
      <span class="color-box bg-success"></span>
      <span class="legend-text">{{ _('legend.finish_right') }}</span>
    </li>
    <li>
      <span class="color-box bg-warning"></span>
      <span class="legend-text">{{ _('legend.finish_false') }}</span>
    </li>
    <li>
      <span class="color-box bg-primary"></span>
      <span class="legend-text">{{ _('legend.run') }}</span>
    </li>
    <li>
      <span class="color-box bg-info"></span>
      <span class="legend-text">{{ _('legend.not_started') }}</span>
    </li>
  </ul>
</div>
<style>
.legend {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.legend h4 {
  margin-top: 0;
}

.legend ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.legend li {
  margin-bottom: 10px;
}

.legend .color-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.legend .legend-text {
  display: inline-block;
  font-size: 15px;
  color: #333;
}
</style>
{% endblock %}