{% extends 'layout.html' %}
{% from 'macro.html' import form_field, submit %}
{% block content %}
<h3>{{ _('inscription') }} {{ event_data.name }} {{ edition_data.name }}</h3>
{% if user_data %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form_field(form.parours, id='parours') }}
    {{ form.submit_btn(class="btn btn-outline-info") }}
</form>
{% else %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form_field(form.name, id='name') }}
    {{ form_field(form.lastname, id='lastname') }}
    {{ form_field(form.email, id='email') }}
    {{ form_field(form.phone, id='phone') }}
    {{ form_field(form.datenaiss, id='datenaiss') }}
    {{ form_field(form.parcours, id='parcours') }}
    {{ form.submit_btn(class="btn btn-outline-info") }}
</form>
{% endif %}
{% endblock content %}