{% extends 'layout.html' %}
{% block content %}
    <h3>inscription {{ event_data.name }} {{ edition_data.name }}</h3>
    {% if user_data %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group" id="parcours">
                {{ form.parcours.label(class="form-control-label") }}
                {% if form.parcours.errors %}
                    {{ form.parcours(class="form-control form-control-lg is-invalid list-group") }}
                    <div class="invalid-feedback">
                        {% for error in form.parcours.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.parcours(class="form-control form-control-lg list-group") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit_btn(class="btn btn-outline-info") }}
        </div>
    </form>
    {% else %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group" id="name">
                {{ form.name.label(class="form-control-label") }}
                {% if form.name.errors %}
                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group" id="lastname">
                {{ form.lastname.label(class="form-control-label") }}
                {% if form.lastname.errors %}
                    {{ form.lastname(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.lastname.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.lastname(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group" id="email">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group" id="phone">
                {{ form.phone.label(class="form-control-label") }}
                {% if form.phone.errors %}
                    {{ form.phone(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.phone.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.phone(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group" id="datenaiss">
                {{ form.datenaiss.label(class="form-control-label") }}
                {% if form.datenaiss.errors %}
                    {{ form.datenaiss(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.datenaiss.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.datenaiss(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="form-group" id="parcours">
                {{ form.parcours.label(class="form-control-label") }}
                {% if form.parcours.errors %}
                    {{ form.parcours(class="form-control form-control-lg is-invalid list-group") }}
                    <div class="invalid-feedback">
                        {% for error in form.parcours.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.parcours(class="form-control form-control-lg list-group") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit_btn(class="btn btn-outline-info") }}
        </div>
    </form>
    {% endif %}
{% endblock content %}