{% extends 'layout.html' %}
{% from 'macro.html' import form_field, submit, boolean_field, color_field %}
{% block content %}
<div> {# name form #}
    <form action="{{url_for('admin.parcours.modify_parcours', event_name=event_data.name, parcours_name=parcours_data.name)}}" method="post">
        {{ name_form.hidden_tag() }}
        {{ form_field(name_form.name) }}
        {{ form_field(name_form.description) }}
        {{ submit(name_form) }}
    </form>
    <hr>
    {% if parcours_data.editions.count() == 0 %}
        <a href="{{ url_for('admin.parcours.delete_parcours_page', event_name=event_data.name, parcours_name=parcours_data.name) }}"
            class="btn btn-outline-danger">{{ _('admin.parcours.supprimer') }}</a>
    {% else %}
        <p>{{ _('admin.parcours.parcoursunmodifyablealreadyused') }}</p>
        {% if parcours_data.archived %}
            <a href="{{ url_for('admin.parcours.unarchive_parcours_page', event_name=event_data.name, parcours_name=parcours_data.name) }}"
                class="btn btn-outline-danger">{{ _('admin.parcours.desarchiver') }}</a>
        {% else %}
            <a href="{{ url_for('admin.parcours.archive_parcours_page', event_name=event_data.name, parcours_name=parcours_data.name) }}"
                class="btn btn-outline-danger">{{ _('admin.parcours.archiver') }}</a>
        {% endif %}
    {% endif %}
    <br>
    <a href="{{ url_for('admin.parcours.copy_parcours', event_name=event_data.name, parcours_name=parcours_data.name) }}"
        class="btn btn-outline-success">{{ _('admin.parcours.dupliquer') }}</a>
    <hr>
</div>
{% if modif_form %}
    {% if modif_form_type == "new" %}
        <p class="bg-info rounded">{{ _('admin.parcours.clicknewstand') }}</p>
    {% endif %}
    <div {% if modif_form_type=="new" %} class="modal" id="modal_window" {% endif %}> {# modif form #}
            {% if modif_form_type == "marker" %}
                <form action="{{ url_for('admin.parcours.modify_stand', event_name=event_data.name, parcours_name=parcours_data.name, stand_id=stand.id) }}" method="post" id="modif_form">
                    {{ modif_form.hidden_tag() }}
                    {{ form_field(modif_form.name) }}
                    <div class="form-group">{# change position #}
                        <button class="btn btn-outline-info m-2" type="button" onclick="select_position()">
                            <p id="latlngbtn" class="d-inline">{{ _('admin.parcours.changepos') }}</p> <i
                                class="fa-solid fa-location-dot d-inline"></i>
                        </button>
                    </div>
                    {{ form_field(modif_form.lat, div_class='d-none') }}
                    {{ form_field(modif_form.lng, div_class='d-none') }}
                    {{ color_field(modif_form.color, colorpicker) }}
                    {{ boolean_field(modif_form.chrono) }}
                    {{ submit(modif_form) }}
                </form>
            {% endif %}
            {% if modif_form_type == "trace" %}
                <form action="{{url_for('admin.parcours.modify_trace', event_name=event_data.name, parcours_name=parcours_data.name, trace_id=trace.id)}}" method="post" id="modif_form">
                    {{ modif_form.hidden_tag() }}
                    {{ form_field(modif_form.name) }}
                    {{ form_field(modif_form.path, div_class='d-none') }}
                    {{ submit(modif_form) }}
                    <div class="form-group">{# delete #}
                        <button class="btn btn-outline-danger m-2" type="button" onclick="delete_trace()">
                            {{ _('admin.parcours.deletape') }}
                        </button>
                    </div>
                </form>
            {% endif %}
            {% if modif_form_type == "new" %}
                <form action="{{ url_for('admin.parcours.new_stand', event_name=event_data.name, parcours_name=parcours_data.name, last_marker=last_marker) }}" method="post" id="modif_form">
                    {{ modif_form.hidden_tag() }}
                    <fieldset class="form-group modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">{{ _('admin.parcours.addstand') }}</h4>
                                <button type="button" class="btn-close" onclick="my_modal.hide()"></button>
                            </div>
                            <script>error = false</script>
                            {{ form_field(modif_form.name) }}
                            {{ form_field(modif_form.lat, div_class='d-none') }}
                            {{ form_field(modif_form.lng, div_class='d-none') }}
                            {{color_field(modif_form.color, colorpicker)}}
                            {{ boolean_field(modif_form.chrono) }}
                            {{ submit(modif_form) }}
                        </div>
                    </fieldset>
                </form>
            {% endif %}
    </div>
{% endif %}
<div class="w-100 row container-fluid"> {# tracé #}
    <div class="col-3 p-0 w-75"> {# map #}
        <iframe id="map" class="w-100 h-100" srcdoc=' {% include "map_iframe.html" %} ' frameborder="0"></iframe>

        <script>
            var iframe = document.getElementById("map");
            var form = document.getElementById("modif_form")
            function get_map_data() {
                try {
                    return iframe.contentWindow.get_map_data()
                } catch (error) {
                    return null
                }
            }
            function form_submit() {
                console.log(form)
                form.submit()
            }
            {% if modif_form_type == "marker" %}
            function set_form_lat_lng(e) {
                form.elements["lat"].value = e.latlng.lat;
                form.elements["lng"].value = e.latlng.lng;
                document.getElementById("latlngbtn").textContent = "changer la position";
            };
            function select_position() {
                try {
                    iframe.contentWindow.select_position();
                    document.getElementById("latlngbtn").textContent = "cliquer sur la carte pour deplacer le stand";
                } catch (error) {
                }
            }
            {% endif %}
            {% if modif_form_type == "trace" %}
            function delete_trace() {
                if(window.confirm("Etes vous sur de vouloir supprimer cette étape ?")) {
                    let url = "{{url_for('admin.parcours.delete_trace', event_name=event_data.name, parcours_name=parcours_data.name, trace_id=trace.id)}}"
                    window.parent.location.href = url;
                }
            }
            function set_form_path_data(data) {
                var value = "["
                data.forEach(latlng => {
                    value += "[" + latlng.lat.toString() + "," + latlng.lng.toString() + "],"
                });
                form.elements["path"].value = value + "]"
            };
            function get_form_path_data() {
                var data = form.elements["path"].value.replace(" ", "").slice(0, -1);
                data = data.split("]").slice(0, -1);
                var new_data = [];
                console.log(data, new_data)
                data.forEach(latlngs => { latlng = latlngs.slice(2).replace("[", "").split(","), console.log(latlng); new_data.push({ "lat": parseFloat(latlng[0]), "lng": parseFloat(latlng[1]) }) });
                console.log(new_data)
                return new_data
            }
            {% endif %}
            {% if modif_form_type == "new" %}
            var my_modal = new bootstrap.Modal(document.getElementById('modal_window'))
            if (error) { my_modal.show() }
            var modal_form = document.getElementById("modif_form")
            {% endif %}
            function add_etape(last_marker) {
                console.log(last_marker)
                let url = "{{url_for('admin.parcours.new_stand', event_name=event_data.name, parcours_name=parcours_data.name, last_marker=0)[:-1]}}";
                url += last_marker;
                window.parent.location.href = url;
            }
        </script>

    </div>
    <div class="col-1 p-0 w-25 h-100"> {# list #}
        <ul style="height: 450px;" class="w-100 overflow-auto list-group">
            {% for element in program_list %}

            <li class="list-group-item list-group-item-action p-1">
                {% if element.type == "marker" %}
                <a class="page-link w-100 h-100"
                    href="{{ url_for('admin.parcours.modify_stand',event_name=event_data.name, parcours_name=parcours_data.name, stand_id=element.id) }}">
                    <h4>{{ element.name }}</h4>
                </a>
                {% else %}
                <a class="page-link w-100 h-100"
                    href="{{ url_for('admin.parcours.modify_trace',event_name=event_data.name, parcours_name=parcours_data.name, trace_id= element.id) }}">
                    <p>{{ element.name }}</p>
                </a>
                {% endif %}
            </li>
            {% if element.type == "marker" %}
            <li class="list-group-item list-group-item-action p-0">
                <button class="page-link w-100 h-100" onclick="add_etape({{ element.step }})">
                    <i class="fa-solid fa-circle-plus"></i>
                </button>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
<div>{# alt graph #}
    <!--chart.js-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
    <div class="chartBox pt-3">
        <canvas id="myChart"></canvas>
    </div>
    <script>
        var graph_data = {{ graph | safe }}
        // setup
        const data_points = {
            datasets: [
                {
                    showLine: true,
                    label: "altitude",
                    data: graph_data,
                    backgroundColor: ["rgba(0, 255, 0, 0.2)"],
                    borderColor: ["rgba(255, 0, 0, 1)"],
                    borderWidth: 1,
                    yAxisID: 'elevation',
                    xAxisID: 'distance',
                },
            ],
        };

        // config
        const config = {
            type: "scatter",
            data: data_points,
            options: {
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: false
                    },
                    tooltip: {
                        callbacks: {
                            label: (content) => {
                                //console.log('test');
                                return `${content.raw.type} ${content.raw.label}`;
                            },
                        },
                    },
                },
                scales: {
                    distance: {
                        type: 'linear',
                        title: {
                            display: true,
                            text: '{{ _('chart.dist') }} (km)'
                            },
                    },
                    elevation: {
                        type: 'linear',
                        title: {
                            display: true,
                            text: '{{ _('chart.alt') }} (m)'
                            },
                    },
                }
            },
        };
        //console.log(config)
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, config);
    </script>
</div>
{% endblock content %}