<div class="d-flex flex-column flex-md-row">
  <ul class="navbar-nav w-100 d-flex flex-md-column ">
    <li class="nav-item btn">
      <a class="nav-link"
        href="{{ url_for('admin.editions.modify_edition_page', event_name=event_data.name, edition_name=edition_data.name) }}">{{
        edition_data.name }}</a>
    </li>
    <li class="nav-item btn">
      <a class="nav-link "
        href="{{ url_for('admin.editions.passages.dashboard', event_name=event_data.name, edition_name=edition_data.name) }}">{{
        _('admin.editions.gererpassage') }}</a>
    </li>
    <li class="nav-item btn">
      <a class="nav-link "
        href="{{ url_for('admin.editions.dossard.generate_dossard', event_name=event_data.name, edition_name=edition_data.name) }}">{{
        _('admin.editions.gererdossard') }}</a>
    </li>
    {% if now>edition_data.edition_date %}
    <li class="nav-item btn">
      <a class="nav-link "
        href="{{ url_for('admin.editions.parcours.view', event_name=event_data.name, edition_name=edition_data.name) }}">{{
        _('admin.editions.gererparcours') }}</a>
    </li>
    {% endif %}
    <li class="nav-item btn">
      <a class="nav-link "
        href="{{ url_for('admin.editions.result.result_page', event_name=event_data.name, edition_name=edition_data.name) }}">{{
        _('admin.editions.result') }}</a>
    </li>
  </ul>
</div>