{% extends 'layout.html' %} {% block content %}
<h3>editions</h3>
<div class="d-flex justify-content-center flex-wrap">
    {% for edition in event_data.editions %}
        <div class="d-inline-flex card m-1">
            <div class="w-100 card-header d-flex justify-content-between align-items-center">
                <h5 class="px-2">{{edition.name}}</h5>
                <div class="vr"></div>
                <a href="#" class="px-2"><i class="fa-solid fa-ellipsis-vertical"></i></a>
            </div>
            <div class="card-body">
                <a href="{{ url_for('admin.editions.modify_edition_page', event_name=event_data.name, edition_name=edition.name) }}" class="text-decoration-none link-dark">
                    {{edition.edition_date.strftime('%d.%m.%Y')}}
                </a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}