{% extends 'layout.html' %} {% from 'macro.html' import map_field, form_field %} {% block content %}
<h3>{{ _('admin.editions.editions') }}</h3>
<div class="d-flex justify-content-center flex-wrap">
  {% for edition in event_data.editions %}
  <div class="d-inline-flex card m-1">
    <div class="w-100 card-header d-flex justify-content-between align-items-center">
      <h5 class="px-2">{{edition.name}}</h5>
      <div class="vr"></div>
      <a href="#" class="px-2"><i class="fa-solid fa-ellipsis-vertical"></i></a>
    </div>
    <div class="card-body">
      <a href="{{ url_for('admin.editions.modify_edition_page', event_name=event_data.name, edition_name=edition.name) }}"
        class="text-decoration-none link-dark">
        {{edition.edition_date.strftime('%d.%m.%Y')}}
      </a>
    </div>
  </div>
  {% endfor %}
  <div class="d-inline-flex card m-1">
    <div class="card-body d-flex align-items-center justify-content-center">
      {% if form.parcours.choices|length > 0 %}
      <a type="button" onclick="modal.show()" class="text-decoration-none link-dark">
        <i class="fa-solid fa-circle-plus"></i>
      </a>
      {% else %}
      <a class="text-decoration-none link-dark"
        href="{{ url_for('admin.parcours.parcours_page', event=event_data.name) }}">
        <p>{{ _('admin.editions.startcreateparcours') }}</p>
      </a>
      {% endif %}
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade show" id="new_edition_modal" tabindex="-1" aria-labelledby="new_edition_label"
    aria-hidden='true'>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="new_edition_label">{{ _('admin.editions.newedition') }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="" method="post" id="new_edition_form">
            {{ form.hidden_tag() }}
            {{ form_field(form.name) }}
            {{ form_field(form.edition_date) }}
            {{ form_field(form.description) }}
            {{ form_field(form.parcours) }}
            {{ form_field(form.first_inscription) }}
            {{ form_field(form.last_inscription) }}
            {{ form_field(form.rdv_lat, input_id='rdv_lat', div_class='d-none') }}
            {{ form_field(form.rdv_lng, input_id='rdv_lng', div_class='d-none') }}
            {{ map_field('rendez vous pour cette edition', 'rdv_lat', 'rdv_lng', form.rdv_lng.data, form.rdv_lng.data)}}
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          {{ form.submit_btn(class="btn btn-primary", type='submit', form='new_edition_form') }}
        </div>
      </div>
    </div>
    <script>
      modal = new bootstrap.Modal(document.getElementById('new_edition_modal'))
      {% if form.errors | length %} modal.show(){% endif %}
    </script>
  </div>
</div>
{% endblock content %}