<div class="d-flex flex-column flex-md-row">
    <nav class="navbar navbar-expand-md d-flex flex-md-column p-0 w-100">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#sidebarSupportedContent"
        aria-controls="sidebarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle Navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse w-100" id="sidebarSupportedContent">
        <ul
          class="navbar-nav w-100 d-flex flex-md-column text-center text-md-end"
        >
          <li class="nav-item bg-danger btn mb-2">
            <a
              class="nav-link"
              href="{{ url_for('admin.editions.modify_edition_page', event_name=event_data.name, edition_name=edition_data.name) }}"
              >{{ edition_data.name }}</a
            >
          </li>
          <li class="nav-item bg-success btn mb-2">
            <a
              class="nav-link "
              href="{{ url_for('admin.editions.passages.dashboard', event_name=event_data.name, edition_name=edition_data.name) }}"
              >{{ _('admin.editions.gererpassage') }}</a
            >
          </li>
          <li class="nav-item bg-info btn mb-2">
              <a
              class="nav-link "
              href="{{ url_for('admin.editions.dossard.generate_dossard', event_name=event_data.name, edition_name=edition_data.name) }}"
              >{{ _('admin.editions.gererdossard') }}</a
              >
          </li>
          {% if now>edition_data.edition_date %}
            <li class="nav-item bg-info btn mb-2">
              <a
              class="nav-link "
              href="{{ url_for('admin.editions.parcours.view', event_name=event_data.name, edition_name=edition_data.name) }}"
              >{{ _('admin.editions.gererparcours') }}</a
              >
            </li>
          {% endif %}
          <li class="nav-item bg-info btn mb-2">
              <a
              class="nav-link "
              href="{{ url_for('admin.editions.result.result_page', event_name=event_data.name, edition_name=edition_data.name) }}"
              >{{ _('admin.editions.result') }}</a
              >
          </li>
        </ul>
      </div>
    </nav>
</div>