{% extends 'layout.html' %} {% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">coureur</th>
      <th scope="col">dossard</th>
      <th scope="col">parcours</th>
    </tr>
  </thead>
  <tbody>
    {% for inscription in inscriptions | sort(attribute="parcours.name") %}
    <tr>
      <td>{{inscription.inscrit.name}}</td>
      <td>{% if inscription.dossard %} {{inscription.dossard}} {% endif %}</td>
      <td>{{inscription.parcours.name}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% if now > edition_data.last_inscription %}
    <a class="btn bg-info" href="{{ url_for('admin.editions.generate_all_dossard', event_name=event_data.name, edition_name=edition_data.name) }}">generer</a>
{% else %}
    <a class="btn bg-info disabled" href="{{ url_for('admin.editions.generate_all_dossard', event_name=event_data.name, edition_name=edition_data.name) }}">generer</a>
{% endif %}
{% endblock content %}
